/* start the login form */

body {
    background-color: #f3f3f3;

}

.login h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #888;
}

.login input:focus::-webkit-input-placeholder { color:transparent; }

.login {
    width: 400px;
    margin: 150px  auto 0 auto;
}

.login input {
    margin-bottom: 20px;
}

.login .form-control {
    background-color: #EAEAEA;
}

.login .btn {
    background-color: #008dde;
    width: 100%;
}

/* end the login form */

/* start the edit profile admin */

.edit-profile-admin h2 {
    margin-bottom: 25px;
    text-transform: uppercase;
    color: #888;
}
.edit-profile-admin label {
    font-weight: bolder;
    font-size: larger;
    color: #888;
}
.edit-profile-admin input:focus::-webkit-input-placeholder { color:transparent; }

.article-title {
    font-size: xx-large;
    font-weight: bolder;
    color: #888;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
}
.article-description {
    font-size: larger;
    color: #555;
}

/* MANAGE NEWS PAGE */
#description {
    height: 100px;
    resize: none;
}

.db-text{
    white-space: pre-wrap;
    word-wrap: break-word;
}